.OneAnswer {
  color: white;
  background-color: #303030;
  font-size: 1.5rem;
  list-style: none;
  height: calc(100% / 6);
  width: 100%;
  border: 0.1rem solid #444444;
  display: flex;
  align-items: center;  
}

.OneAnswer + .OneAnswer {
  border-top-width: 0;
}

.OneAnswer:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.OneAnswer:last-child {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.inactive_answer, .correct_answer, .incorrect_answer {
  width: 1rem;
  height: 1rem;
  margin: 1rem;
  border-radius: 50%;
}

.inactive_answer {  
  background-color: #555555;
}

.correct_answer {
  background-color: chartreuse;
}
.incorrect_answer {
  background-color: crimson;
}

