.RandomBird {
  display: flex;
  justify-content: space-between;  
  color: white;
  width: 100%;
  height: 16rem;
  margin: 2.5rem 0 2.5rem 0;  
  background-color: #303030;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

