.RandomBird {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  min-height: 19rem;
  flex-wrap: wrap;
  margin: 2.5rem 0 2.5rem 0;
  background-color: #303030;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #444444;
}

.RandomBirdImg {
  border-radius: 3rem;
  height: 15rem;
  max-width: 23rem;
  padding: 2rem;
}

.RandomBirdContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  min-width: 26rem;
  max-width: calc(100% - 32rem);
  width: 100%;
}

.RandomBirdName {
  display: flex;
  justify-content: center;
  padding: 2rem;
  border-bottom: 1px solid #444444;
}

.AydioPlayer {
  padding: 2rem;
  background-color: #303030 !important;
  box-shadow: none !important;
}
