.nav {  
  flex: auto;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  background-color: yellowgreen;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav li {
  flex: auto;
  width: 171px;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.activ {
  background-color: coral;
  border-radius: 0.5rem;
}

